.container-fluid {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.row {
  flex: 1; /* Take remaining space after the navigation bar */
  overflow: hidden; /* Prevent scrolling of the whole row */
}

.col-scrollable {
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100%; /* Ensure the column takes full height */
  width: 100%;
}

.col-full-height {
  height: 100%; /* Ensure the column takes full height */
  display: flex; /* Use Flexbox for child element */
  flex-direction: column; /* Ensure child elements stack vertically */
}

.visualization-container {
  flex: 1; /* Take up remaining space within the column */
  overflow: hidden; /* Prevent overflow */
}